
.kaufman{
    display:flex;
    background-color: #000000;
    overflow: hidden;
    align-items: center;
    flex-direction: column;
    position:relative;
    height: auto;
    padding-top: 90px 0;
  }